@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
 background-image: url("tausta1.jpg");
} 
h1 {
  font-size: 35px;
  font-family:"Roboto";
  text-align: center;
  
}
h2 {
  font-size: 25px;
  font-family: "Roboto";
}
p {
  font-size: 16px;
  font-family:"Roboto";
  text-align: center;
}
a {
  text-decoration: none;
  color: #497e9a;
  font-family:"Roboto";
}
a:hover {
  color: #6ea6c6;
}

/* Nappien asetukset:
Muuten samat paitsi värit,
padding säätää kokoa, margin välejä (pitää olla samat molemmissa) */
.nappi {
  font-size: 18px;
  font-family:"Roboto";
  padding: 25px 30px; /* koko */
  background-color: #9bb8c7;
  color: rgb(0, 0, 0);
  border: 3px solid #5b7684;
  border-radius: 35px;
  float: left;
  margin-left: 3%; /* välit */
  margin-bottom: 3%; /* välit */
  cursor: pointer;
  transition-duration: 0.4s;
}
.nappi1 {
  font-size: 18px;
  font-family:"Roboto";
  padding: 25px 30px; /* koko */
  background-color:  #7698a9;
  color: rgb(0, 0, 0);
  border: 3px solid  #5b7684;
  border-radius: 35px;
  float: left;
  margin-left: 3%; /* välit */
  margin-bottom: 3%; /* välit */
  cursor: pointer; 
  transition-duration: 0.4s;
}

.nappi:hover, .nappi1:hover{
  background-color: #314551;
  color: #F0F0F0;
}



/* Muokkaa kaikkien nappien sijaintia */
.container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}

/* Auttaa ettei footer mene nappien päälle */
.page-container {
  min-height: 85vh;
}

/* Pop up tausta */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 3%;
  padding-left: 20%;
  
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
 
  background-color: #00000066;
  
}

/* Pop up otsikkorivi */
.modal-header {
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto";
  padding: 2px 12px;
  background-color: #33434d;
  width: 60%;
  
}

/* Pop up sisältö */
.modal-body {
  color: black;
  font-size: 18px;
  font-family: "Roboto";
  padding: 2px 12px;
  background-color: #ffffff;
  width: 60%;
  margin-bottom: 10px;
 
}

/* X jolla suljetaan pop up */
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}


/* Kirsin sisältöjä */
#kuva-uutela {
  max-height: 300px;
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 2%;
  border: solid black 1px;
}
#kartta-Uutela {
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 3%;
}
#kuva-haaga {
  max-height: 300px;
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 2%;
  border: solid black 1px;
}
#kartta-haaga {
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 3%;
}
#helsinki-video {
  margin-left: 3%;
  margin-top: 25px;
  margin-bottom: 30px;
  border: solid black 1px;
}
#kartta-helsinki {
  margin-left: 3%;
  margin-top: 25px;
  margin-bottom: 30px;
}
#kuva-museo {
  max-height: 300px;
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 2%;
  border: solid black 1px;
}

/* Alexin sisältöjä */
#kuva-vko8 {
  max-height: 300px;
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 2%;
  border: solid black 1px;
}
#kuva-vko9 {
  max-height: 300px;
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 2%;
  border: solid black 1px;
}

/* Jussin sisältö */
#kuva-suomenlinna{
  max-height: 300px;
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 2%;
  border: solid black 1px;
}

#kuva-veneet{
  max-height: 300px;
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 2%;
  border: solid black 1px;
}

#kuva-juhannus{
  max-height: 300px;
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 2%;
  border: solid black 1px;
}

#kartta-seurasaari{
  margin-left: 3%;
  margin-top: 25px;
  margin-bottom: 30px;
}

#kartta-suomenlinna{
  margin-left: 3%;
  margin-top: 25px;
  margin-bottom: 30px;
}

/* Alatunniste */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(20, 20, 20);
  background-color: #b7cdd7;
  text-align: center;
  border-top: solid 3px #5b7684;
  clear: both;
}


/* pienempi tietokoneen näyttö */
@media only screen and (max-width: 1800px) {
.nappi {
  padding: 25px 30px; /* koko */
} 
.nappi1 {
  padding: 25px 30px; /* koko */
}
.container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}
.page-container {
  min-height: 85vh;
}
}

/* iso näyttö */
@media only screen and (min-width: 1800px) {
h1 {
  margin-top: 3%;
}
.nappi {
  padding: 30px 35px; /* koko */
}
.nappi1 {
  padding: 30px 35px; /* koko */
}
.container {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
}
.modal {
  padding-top: 8%;
  padding-left: 25%;
}
.modal-body {
  width: 50%;
}
.modal-header {
  width: 50%;
}
.page-container {
  min-height: 70vh;
}
#kuva-uutela, #kuva-haaga, #kuva-veneet, #kuva-vko8, #kuva-vko9 {
  margin-left: 3%;
}
#helsinki-video {
  margin-left: 4%;
}
#kuva-juhannus, #kuva-suomenlinna, #kuva-museo {
  margin-left: 5%;
}
}
